.black-jack {
  background-color: #f4fbff;
}

.blackjack .page-title {
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .container {
    padding: 10px;
    border-radius: 1em;
  }

  .game {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    background-color: #d5d9f254;
    color: #5b6ace;

    .game-section {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }

    .info-section {
      .score-section {
      }
    }
  }
  .action-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .result {
    background-color: #fce2704a;
    color: #8d7200;
  }
}

/* buttons */
.button {
  padding: 1em;
  border-radius: 0.5em;
  border-style: solid;
  background-color: #fff;
  border: 1.5px solid;
  cursor: pointer;
  white-space: wrap;
}
.button:disabled {
  opacity: 0.5;
  cursor: unset;
}

#startButton {
  border-color: #fd6a88;
  color: #fd6a88;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}
#startButton:hover:enabled {
  border-color: #ffdc7d;
  background-color: #fce270;
  color: #7e6318;
}

#drawCardButton {
  min-width: 163px;
  border-color: #5ea526;
  color: #5ea526;
  background-color: #e6f7ef;
}
#drawCardButton:hover:enabled {
  color: #fff;
  background-color: #5ea526;
}

#endButton {
  background-color: #fde0e6;
  color: #cc0f35;
  border-color: #cc0f358c;
}
#endButton:hover:enabled {
  background-color: #f14668;
  color: #fff;
}

#replayButton {
  background-color: #fff3d1;
  color: #7e6318;
  border-color: #fce270;
}
#replayButton:hover:enabled {
  border-color: #ffdc7d;
  background-color: #fce270;
  color: #7e6318;
}

.icon {
  width: 1.5em;
}

.hidden {
  display: none !important;
}
