body {
  background-color: #f4fbff;
}

.blackjack-container {
  .page-title {
    display: flex;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}
.game-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .game-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .game-section {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }

    .info-section {
      .score-section {
      }
    }
  }
  .action-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .result-section {
  }
}

#drawCardButton {
}

.hidden {
  display: none;
}

/* buttons */
.button {
  padding: 1em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: #fd6a88;
  background-color: #fff;
  color: #fd6a88;
  cursor: pointer;
  border-width: 1px;
  white-space: wrap;
}

/* start game button */
#startButton {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}
#startButton:hover {
  border-color: #ffdc7d;
  background-color: #fce270;
  color: #7e6318;
}

.icon {
  width: 1.5em;
}
