body {
  font-family: comic;
  margin: 0;
  padding: 0;
  background-color: #f5f3e7;
}

header {
  position: fixed;
}

header ul {
  background: #36123f;
  display: flex;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px rgb(35, 2, 48);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0;
  border-radius: 20px;
}

.list {
  color: #fff;
  text-align: center;
  list-style: none;
  gap: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-style: oblique;
  color: #bf72c1;
  margin: 50px;
}
 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .link {
  text-decoration: none;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #41316b;
  border-radius: 20px;
}

.dropdown-content a:hover {
  background-color: #c9ade5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.list li {
  margin-right: 20px;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.link::before,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00fffc;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}

main {
  margin: 120px;
  color: #36123f;
}

#contact-form {
  border: 1px solid #c9ade5;
  padding: 20px;
  border-radius: 20px;
}

#thank-you {
  border: 1px solid #beb1d1;
  padding: 20px;
  background-color: #f5e2e4;
  border-radius: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}

form select{
    cursor: pointer;
}

form select,
form input,
form textarea {
  width: 85%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #beb1d1;
  border-radius: 20px;
}

form select {
  width: 50%;
}

form input[type="submit"] {
  background-color: #f5bfd2;
  color: #360737;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #bd95c3;
}

#about-section {
  border: 1px solid #beb1d1;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  background-color: #f5f3e7;
}

#about-section h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

#about-section p {
  font-size: 23px;
}

footer {
  background-color: #442e4a;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  header {
  width: 100%;
  height: auto;
  }
}