body {
  margin: 0;
  background-color: #353535;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Young Serif", serif;
}

h1 {
  position: absolute;
  text-align: center;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  top: 10%;
  left: 40%;
}

.container {
  width: 100vw;
  min-height: 50%;
  min-width: 100%;
  display: flex;
  gap: 140px;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: 100vh;
}

.panel {
  height: 25%;
  width: 40vw;
  position: relative;
  margin: 20px;
  flex-direction: column;

  &:hover {
    .card {
      scale: 110%;
      box-shadow: rgba(255, 255, 255, 0.48) 2px 1px 4px 0px,
        rgba(255, 255, 255, 0.8) -2px -1px 4px 0px;
    }

    .title {
      color: rgba(255, 255, 255, 0.2);
      filter: opacity(0);
    }

    .border {
      border: 1px solid rgba(255, 255, 255, 1);
    }

    .slide {
      bottom: 0px;
    }
  }
}

.ring,
.card,
.border,
.slide,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  color: #fffbf1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 170px;
}

.card {
  background: #f0ead6;
  position: relative;
  transition: all 1s;
  height: 270px;
  width: 500px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card1 {
  background-image: url(Alexa_NumberGuess.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card2 {
  background-image: url(tic-tac-toe-game-linear-outline-icon-neon-style-vector-28341945.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: url(rock-paper-scissors-toni-abdnour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card4 {
  background-image: url(R.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  text-align: center;
  position: absolute;
}

.title {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: 500;
  transition: all 1s;
  top: 0;
}

.para {
  bottom: 0;
  font-size: 16px;
  font-family: "Raleway";
  padding: 20px;
  margin: 0;
  text-align: center;
}

.border {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 260px;
  width: 500px;
  transition: border 1s;
  overflow: hidden;
}

.slide {
  height: 260px;
  width: 500px;
  position: absolute;
  border: 1px solid black;
  bottom: -270px;
  background: rgba(0, 0, 0, 0.5);
  transition: bottom 1s;
  flex-direction: column;
}

.fa-plane {
  font-size: 16px;
}
