#footer {
  background-color: #0d0541;
  box-shadow: 1px -4px 10px #7f6eff;
  margin-top: 20px;
}

.team-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0 20px;
  gap: 20px;
}

.team-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 0;
  margin: 0;
}
