.top-navbar {
  position: relative;
  z-index: 9999;
  background: #0d0541;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px #7f6eff;
  width: 100%;
  padding: 20px;
}

.top-navbar .logo {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.top-navbar .logo:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.top-navbar .list {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.top-navbar .has-submenu {
  position: relative;
}

.has-submenu .submenu {
    display: none;
    position: absolute;
    width: 150px;
    left: -40px;
    top: 100%;
    background: none;
    color: #262433;
    margin: 5px;
    background: #0d0541;
    
}
.top-navbar .submenu .link {
  margin-bottom: 10px;
}

.top-navbar .has-submenu .submenu a {
  white-space: nowrap;
}

.top-navbar .has-submenu:hover .submenu {
  display: block;
}

.top-navbar .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.top-navbar .link::before,
.top-navbar .link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00fffc;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.top-navbar .link::before {
  top: -3px;
  transform-origin: left;
}

.top-navbar .link::after {
  bottom: -3px;
  transform-origin: right;
}

.top-navbar .link:hover::before,
.top-navbar .link:hover::after,
.top-navbar .active::before,
.top-navbar .active::after {
  transform: scaleX(1);
}
